*{
    margin: 0% 0%;
    padding: 0% 0%;
    color: black;
}

body{
    /* background-color: rgb(255, 216, 216); */
    height: 100vh;
}

.background{
    height: 100vh;
    width: 100%;
    background-image: url(./BG-images/banniere-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    /* background-color: skyblue; */
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid rgba(255, 255, 255, 0.562);
    border-radius: 30px;
    backdrop-filter: blur(20px);

}

form{
    height: 600px;
    width: 600px;
    border-radius: 30px;
}

.login{
    /* background-color: blue; */
    height: 600px;
    width: 600px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.login h1{
    /* background-color: red; */
    height: fit-content;
    width: fit-content;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10%;
}

.username{
    /* background-color: red; */
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 30%;
}

#user{
    position: relative;
    top: 15px;
    margin-right: 30px;
    font-size: 70px;
    color: white;
}

.username input{
    padding-bottom: 5px;
    height: 40px;
    width: 300px;
    font-size: 25px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
}

.password{
    /* background-color: red; */
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 16%;
}

/* .password label{
    margin-right: 30px;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: white;
} */

#pass{
    position: relative;
    top: 15px;
    margin-right: 30px;
    font-size: 70px;
    color: white;
}

.password input{
    padding-bottom: 5px;
    height: 40px;
    width: 254px;
    font-size: 25px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    padding-right: 50px;
}

#pass-displayed{
    /* display: none; */
    position: relative;
    top: 0px;
    right: 10%;
    margin-right: 0px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#pass-notDisplayed{
    display: none;
    position: relative;
    top: 0px;
    right: 10%;
    margin-right: 0px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

button{
    /* background-color: red; */
    padding-bottom: 60px;
    background: none;
    border: none;
    height: 60px;
    width: 150px;
    position: absolute;
    top: 80%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    transition: transform ease-in-out 0.2s;
}

button:hover{
    transform: scale(1.15);
    background-color: rgba(128, 128, 128, 0.363);
    border: 2px solid white;
    border-radius: 20px;
}






